body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar {
  width: 220px;
  background: #6d946f;
  color: white;
  padding: 2rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-right-logos {
  display: flex;
  flex-direction: column;   /* stack vertically */
  align-items: center;
  gap: 0.25px;
  margin-bottom: 2rem;      /* bring logos up from the very bottom */
}

.logo {
  height: 40px;
  object-fit: contain;
}

.sidebar h1 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 0;              /* Remove vertical margin entirely */
  padding: 4px 0;         /* Small padding for readability */
  line-height: 1.1;       /* Keep text slightly compact */
  font-weight: bold;
  font-size: 1.3rem;
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 300px;        /* push content to the right of the fixed sidebar */
  padding: 2rem 3rem 0rem 2rem;
  flex-grow: 1;
  background: white;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #6d946f;
  font-size: 1.8rem;
}

.content-image {
  width: 1000px;        /* or set a fixed width like 600px */
  max-width: 1000px;
  display: block;
  margin: 2rem 0;
  border-radius: 8px; /* optional: soft rounded corners */
}
