body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar {
  width: 220px;
  background: #6d946f;
  color: white;
  padding: 2rem 1rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-right-logos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
  padding-top: 1rem;
}

.logo {
  height: 40px;
  object-fit: contain;
}

.sidebar h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 300px;        /* push content to the right of the fixed sidebar */
  padding: 6rem;
  flex-grow: 1;
  background: #f9f9f9;
  min-height: 150vh;
  font-family: Georgia, serif;
}

h2 {
  color: #6d946f;
  font-size: 1.8rem;
}


